body {
    height: 100vh;
    width: auto;
    
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul {

    li {
        list-style: none ;
    }
}